/* 
  This is where all of the styles should be given to
  the HTML structures
*/

html, body, form { margin: 0; padding: 0; } 

div#body {
	padding: 1em;
}

DIV {
	/* for debugging layout */
	/* border: 1px solid #eee; */
}

DIV.notice {
	background-color: #80ff80;
	padding: 0.5em;
	margin: 0.5em;
}

DIV.alert {
	background-color: #ff8080;
	padding: 0.5em;
	margin: 0.5em;	
}

DIV#header {
	/* background-color: #cccccc; */
	padding: 0em;
	border: 1px solid #eee;
	margin-bottom: 0em;
}

DIV#header H1 {
	padding-left: .5em;
}

DIV#toolbar {
	background-color: #cccccc;
/*	border-top: 1px solid #000; */
	border-bottom: 1px solid #000;
	padding: 0.5em;
	margin-bottom: 2em;
}

DIV#toolbar form {
	margin: 0; padding: 0; 
}

DIV#footer {
	font-size: 10pt;
	font-style: Italic;
	background-color: #cccccc;
	margin-top: 2em;
	padding: 0.5em;
	border-top: 1px solid #000;
}

PRE {
   font-size: 10pt;
}
   
TT {
	font-size: 10pt;
}
   
TABLE TH {
	background-color: #e6e6e6;
}

TABLE TR.odd {
	background-color: #ffffb0;
} 

TABLE TR.units {
	background-color: #e6e6e6;
	font-style: italic;
}

a.info{
position:relative;           /*this is the key*/
z-index:24;
background-color:#e0e0e0;    /* background colour of display text */
color:#000000;               /* colour of display text */
border:1px dotted #999;    /* border colour */
text-decoration:none;
font-style:italic;
}

a.info:hover {
z-index:25;
background-color:#ffff66;

}

a.info span{
display: none;  /* hide the span text using this css */
}

a.info:hover span{ /*the span will display just on :hover state*/
display:block;
position:absolute;
top: 1.5em;
left: 3em;
width:15em;
border:1px solid #ff0000; /* border colour */
background-color:#ffff99; /* background colour here */
color:#000000;         /* text colour */
text-align: center;
font-size: .8em;
font-style:italic;
z-index:30;
}

div#content {
	padding: 0 1em;
}

