/* Note this isn't currently used */

   pre {
   font-size: 10pt;
 }
   
   .code {
     font-size: 10pt;
     font-family: Courier New,monospace;
   }
   
   .footnote {
     font-size: 10pt;
     font-style: Italic;
   }
